<div class="emailList">
    <div class="emailList_settings">
       <div class="emailList_settingLeft">
        <input type="checkbox"/>
        <span class="material-icons">arrow_drop_down</span>
        <span class="material-icons">refresh</span>
        <span class="material-icons">more_vert</span>
       </div> 
       <div class="emailList_settingRight">
        <span class="material-icons">chevron_left</span>
        <span class="material-icons">chevron_right</span>
        <span class="material-icons">keyboard_hide</span>
        <span class="material-icons">settings</span>
    </div> 
    </div>

    <div class="emailList_sections">
        <div class="section section_selected">
            <span class="material-icons">inbox</span>
            <h4>Primary</h4>
        </div>
        <div class="section">
            <span class="material-icons">people</span>
            <h4>Social</h4>
        </div>
        <div class="section">
            <span class="material-icons">local_offer</span>
            <h4>Promotions</h4>
        </div>
    </div>

    <div class="emailList_list">
        
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">Youtube</h3>
            <div class="emailRow_message">
                <h4>You got a new Subscriber <span class="emailRow_description">- on Your Channel Future Coders... </span></h4>
            </div>
            <p class="emailRow_time">Oct 20</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">Facebook</h3>
            <div class="emailRow_message">
                <h4>Md, log in to Facebook with one click <span class="emailRow_description">- Hi Md, We've noticed that you're having trouble with logging </span></h4>
            </div>
            <p class="emailRow_time">Oct 18</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">LinkdIn</h3>
            <div class="emailRow_message">
                <h4>Agora Limited and others share their thoughts on LinkedIn <span class="emailRow_description">- on Your Channel Future Coders </span></h4>
            </div>
            <p class="emailRow_time">Oct 6</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">Instagram</h3>
            <div class="emailRow_message">
                <h4>New login on Instagram from Chrome on Windows <span class="emailRow_description">- We've noticed a new login, aftabdolon </span></h4>
            </div>
            <p class="emailRow_time">Oct 2</p>
        </div>
    </div>
</div>
