<div class="table_responsive" style="margin-top: 50px;">
    <table>
        <thead>
            <tr>
            
            <th>Image</th>
            <th>Name</th>
            <th>Employee ID</th>
            <th>Phone</th>
            <th>Designation</th>
            <th>Department</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of employeeList">
               
                <td><img src="../../assets/img/{{item.image}}" alt=""></td>
                <td>{{item.employeeName}}</td>
                <td>{{item.employeeId}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.employeeDesignation}}</td>
                <td>{{item.department}}</td>
                <td>{{item.role}}</td>
                <td>Active</td>
                <td>
                    <span class="action_btn">
                        <a *ngIf="button" >Active</a>
                        <a *ngIf="!button" >Deactive</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    </div>