<div class="emailList">
    <div class="emailList_settings">
       <div class="emailList_settingLeft">
        <input type="checkbox"/>
        <span class="material-icons">arrow_drop_down</span>
        <span class="material-icons">refresh</span>
        <span class="material-icons">more_vert</span>
       </div> 
       <div class="emailList_settingRight">
        <span class="material-icons">chevron_left</span>
        <span class="material-icons">chevron_right</span>
        <span class="material-icons">keyboard_hide</span>
        <span class="material-icons">settings</span>
    </div> 
    </div>

    

    <div class="emailList_list">
        
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">To: aftabdolo47</h3>
            <div class="emailRow_message">
                <h4>Late Attendance Purpose <span class="emailRow_description">- Dear Sir/Madam, Your attendance has been record as late. Please check it and give remark for specific reason. Please don't be reply, it's system generate mail. Thanks Regards Example Company Ltd. </span></h4>
            </div>
            <p class="emailRow_time">Oct 20</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">To: mdbaharkhan</h3>
            <div class="emailRow_message">
                <h4>FB Post <span class="emailRow_description">- ---------- Forwarded message ---------- From: Dot Com Systems Ltd. &#60;dtcm_tc@yahoo.com&#62; </span></h4>
            </div>
            <p class="emailRow_time">Oct 18</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">To: ruhulamin54</h3>
            <div class="emailRow_message">
                <h4>Personal CV <span class="emailRow_description">- Dear Ruhul Bhai, Please check this attachment file. Thanks Regards Aftab </span></h4>
            </div>
            <p class="emailRow_time">Oct 6</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">To: mdbaharkhan</h3>
            <div class="emailRow_message">
                <h4>New login on Instagram from Chrome on Windows <span class="emailRow_description">- We've noticed a new login, aftabdolon </span></h4>
            </div>
            <p class="emailRow_time">Oct 2</p>
        </div>
    </div>
</div>
