<div class="emailList">
    <div class="emailList_settings">
       <div class="emailList_settingLeft">
        <input type="checkbox"/>
        <span class="material-icons">arrow_drop_down</span>
        <span class="material-icons" (click)="refresh()">refresh</span>
        <span class="material-icons">more_vert</span>
       </div> 
       <div class="emailList_settingRight">
        <span class="material-icons">chevron_left</span>
        <span class="material-icons">chevron_right</span>
        <span class="material-icons">keyboard_hide</span>
        <span class="material-icons">settings</span>
    </div> 
    </div>

    <div class="emailList_list">
        
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title"><span class="sender">me,</span> Draft</h3>
            <div class="emailRow_message">
                <h4>Class file. <span class="emailRow_description">- On Fri, 31 Jul 2022 at 11:48, Aftab Ibne Halim, &#60;aftabdolo47@gmail.com&#62; </span></h4>
            </div>
            <p class="emailRow_time">Oct 20</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title"><span class="sender">Bahar,</span> Draft</h3>
            <div class="emailRow_message">
                <h4>Photo. <span class="emailRow_description">- On Fri, 23 Jul 2021, 7:14 pm M.Bahar, &#60;mdbaharkhan870@gmail.com&#62; </span></h4>
            </div>
            <p class="emailRow_time">Oct 20</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">Draft</h3>
            <div class="emailRow_message">
                <h4>Agora Limited and others share their thoughts on LinkedIn <span class="emailRow_description">- on Your Channel Future Coders </span></h4>
            </div>
            <p class="emailRow_time">Oct 6</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">Draft</h3>
            <div class="emailRow_message">
                <h4>Modify project. <span class="emailRow_description">- Dear Rajib Assalamu 'alaikum Please check this file. </span></h4>
            </div>
            <p class="emailRow_time">Oct 2</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">Draft</h3>
            <div class="emailRow_message">
                <h4>&nbsp;&nbsp;&nbsp;(no subject) <span class="emailRow_description"> </span></h4>
            </div>
            <p class="emailRow_time">19/12/2021</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">Draft</h3>
            <div class="emailRow_message">
                <h4>&nbsp;&nbsp;&nbsp;(no subject) <span class="emailRow_description"> </span></h4>
            </div>
            <p class="emailRow_time">16/09/2021</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">Draft</h3>
            <div class="emailRow_message">
                <h4>&nbsp;&nbsp;&nbsp;(no subject) <span class="emailRow_description"> </span></h4>
            </div>
            <p class="emailRow_time">13/06/2021</p>
        </div>
        <div class="emailRow">
            <div class="emailRow_options">
                <input type="checkbox"/>
                <span class="material-icons">star_border</span>
                <span class="material-icons">label_important</span>
            </div>
            <h3 class="emailRow_title">Draft</h3>
            <div class="emailRow_message">
                <h4>&nbsp;Admit Card <span class="emailRow_description">- Please check it. </span></h4>
            </div>
            <p class="emailRow_time">11/03/2021</p>
        </div>
    </div>
</div>
