
<div class="row">
    <div class="col-sm-12" data-offset="0">                            
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="background: #466472;color: #FFFFFF;">
                <div class="panel-title">
                    <strong>Department List</strong>
                </div>
            </div>
            

                        <div class="panel-heading" style="background: #E5E8E8;" >
                            <div class="panel-title">
                                <strong>Sale
                                    <div class="pull-right">
                                        <a data-original-title="Edit"  class="btn btn-info btn-xs" title="" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit"></i> Edit</a>
                                        <a data-original-title="Delete"  class="btn btn-danger btn-xs" title="" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i> Delete</a>
                                    </div>
                                </strong>
                            </div>
                        </div>
                        <!-- Table -->                    
                        <table class="table table-bordered table-hover">
                            <thead style="color: #85929E;">
                                <tr>
                                    <th class="col-sm-1">SL</th>
                                    <th>Designations</th>                                            
                                </tr>
                            </thead>
                            <tbody>                                                        
                                

                                    <tr>
                                        <td>1</td>
                                        <td>Sales Person</td>                                                

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Supplier</td>                                                

                                    </tr> 
                                    <tr>
                                        <td>3</td>
                                        <td>Supervisor</td>                                                

                                    </tr>                                 
                        </tbody>
                    </table> 
                    <div class="panel-heading" style="background: #E5E8E8;" >
                        <div class="panel-title">
                            <strong>HR
                                <div class="pull-right">
                                    <a data-original-title="Edit"  class="btn btn-info btn-xs" title="" data-toggle="tooltip" data-placement="top"><i class="fa fa-edit"></i> Edit</a>
                                    <a data-original-title="Delete"  class="btn btn-danger btn-xs" title="" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i> Delete</a>
                                </div>
                            </strong>
                        </div>
                    </div>
                    <!-- Table -->                    
                    <table class="table table-bordered table-hover">
                        <thead style="color: #85929E;">
                            <tr>
                                <th class="col-sm-1">SL</th>
                                <th>Designations</th>                                            
                            </tr>
                        </thead>
                        <tbody>                                                        
                            

                                <tr>
                                    <td>1</td>
                                    <td>Senior Officer</td>                                                

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Officer</td>                                                

                                </tr> 
                                                                
                    </tbody>
                </table> 
                   
                <!-- <div class="panel-body">
                    <strong>There is no data to display</strong>
                </div> -->
            
        </div>
    </div>
</div>